@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --base-color: #252B42;
  --secondary-color: #737373;
}

body {
  /* background-image: url(../background.png);
  background-size: cover;
  background-repeat: no-repeat; */
  font-family: montserrat, sans-serif;
}

.bg-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.brand-logo {
  color: var(--base-color);
  font-weight: 800;
}

.nav-menu {
  color: var(--secondary-color);
}

.text-header {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  color: var(--base-color);
}

.text-subheader {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--secondary-color);
}

.button {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
